ptxrx1/ptxrx1/Debug/
ptxrx1/.vs/
ptxrx1/.idea/
tx_rx_ack(BC)/tx_rx_ack(BC)/Debug/
tx_rx_ack(BC)/.vs/
tx_rx_ack(BC)/.idea/
ACK/ACK1/ACK1/Debug/
ACK/ACK1/.vs/
ACK/ACK1/.idea/
ACK/ACK2/ACK2/Debug/
ACK/ACK2/.vs/
ACK/ACK2/.idea/
IACK/IACK1/IACK1/Debug/
IACK/IACK1/.vs/
IACK/IACK1/.idea/
IACK/IACK2/IACK2/Debug/
IACK/IACK2/.vs/
IACK/IACK2/.idea/
IACK/IACK3/IACK3/Debug/
IACK/IACK3/IACK3/IACK3.cproj
IACK/IACK3/.vs/
IACK/IACK3/.idea/
ACK/ACK3/ACK3/Debug/
ACK/ACK3/.vs/
ACK/ACK3/.idea/
ACK/ACK3/ACK3/ACK3.cproj
IACK/IACK4/IACK4/Debug/
IACK/IACK4/IACK4/IACK4.cproj
IACK/IACK4/.vs/
IACK/IACK4/.idea/
IACK/IACK5/IACK5/Debug/
IACK/IACK5/IACK5/IACK5.cproj
IACK/IACK5/.vs/
IACK/IACK5/.idea/
ACK/ACK4/ACK4/Debug/
ACK/ACK4/.vs/
ACK/ACK4/.idea/
ACK/ACK4/ACK4/ACK4.cproj
ACK/ACK5/ACK5/Debug/
ACK/ACK5/.vs/
ACK/ACK5/.idea/
ACK/ACK5/ACK5/ACK5.cproj
Alarmas/Alarma/Alarma/Debug/
Alarmas/Alarma/.vs/
Alarmas/Alarma/.idea/
Alarmas/Alarma/Alarma/Alarma.cproj